#banner .banner-content p {
    font-size: 18px;
    color: #757575;
    line-height: 30px;
    margin-bottom: 30px;

}
#banner .banner-content{
    max-width: 585px;
}
#banner .banner-image img{
    max-width: 585px;
    vertical-align: middle;
}
#about{
    padding-top: 130px;

}
#about .about-container{
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
    text-align: center;
    background-color: #FFF8F3;
    padding: 131px 156px;

}
.section-heading{
    max-width: 827px;
    text-align: center;
    margin: 0 auto;
}
.section-heading h2{
    font-size: 35px;
    margin-bottom: 30px;
}
.section-heading p{
    font-size: 18px;
    margin-bottom: 30px;
    line-height: 30px;
    color: #757575;
}
#about .about-container .about-info{
    display: flex;
    justify-content: space-around;

}
.about-info .info-card p{
    font-size: 20px;
    line-height: 30px;
    color: #757575;

}
.about-info .info-card h4{
    font-size: 20px;
}
#skills{
padding-top: 130px;
}

#skills .skills-container{
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
}
#skills .skills-container .skills-box{
    display: flex;
    gap:24px;
}
.skills-box .skills-card{
    padding: 30px;
    /* border: 1px solid red; */
    max-width: 267px;
    box-shadow: 0 6px 50px 0 #00000083;

}
.skills-card img{
max-width: 44px;
margin-bottom: 30px;

}
.skills-card h3{
    font-size: 20px;
    color: #181818;
    margin-bottom: 20px;
}
.skills-card p{
    font-size: 16px;
    color: #757575;
    line-height: 30px;
    margin-bottom: 30px;

}
